
# NEON_DATABASE_URL: PostgreSQL connection string for Neon
NEON_DATABASE_URL="postgresql://neondb_owner:****@ep-nameless-hill-a1aofsmn.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT_SECRET: Secret key for signing JSON Web Tokens
JWT_SECRET="123"
